*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Work Sans', sans-serif;
  }
 html {
   font-size: 62.5%;
   overflow-x: hidden;
 }
 body{
  overflow-x: hidden;
 }
::-webkit-scrollbar{
  width: 1.5rem;
}
::-webkit-scrollbar-track{
  background-color: rgb(34, 34, 29);
}
::-webkit-scrollbar-thumb{
  background: #fff;
  border: 5px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}
 h1{
  font-size: 6rem;
   color:rgb(46, 46, 46);
   font-weight: 900;
 }
 h2 {
    color: rgb(46, 46, 46);
    font-size: 4.4rem;
    font-weight: 300;
    white-space: normal;
    text-align: center;
   }
   h3 {
   font-size: 1.8rem;
   font-weight: 400;
 }
 p {
   color: rgb(86, 86, 86);
   opacity: .7;
   font-size: 1.65rem;
   line-height: 1.5;
   margin-top: 1rem;
   font-weight:400;
 }
 a {
   text-decoration: none;
 }
 li {
   list-style: none;
 }
 .container {
   max-width: 120rem;
   margin: 0 auto;
 }
 .grid {
   display: grid;
   gap: 9rem;
 }
 .grid-two-column {
   grid-template-columns: repeat(2, 1fr);
 }
 .grid-three-column {
   grid-template-columns: repeat(3, 1fr);
 }
 .grid-four-column{
    grid-template-columns: 1fr 1.2fr .5fr .8fr ;
 }
 button{
  text-decoration: none;
  max-width: auto;
  background-color: rgb(98 84 243);
  color: rgb(255 255 255);
  padding: 1.2rem 2.3rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 3px;
  
 }
  button:hover{

    box-shadow: 0 2rem 2rem 0 rgb(132 144 255 / 30%);
    box-shadow:blue;
    transform: scale(0.9);
  }
  a {
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: 1.8rem;
  }
  .common-heading{
    font-size: 3.8rem;
    font-weight: 600;
    margin-bottom: 5rem;
    text-transform: capitalize;
  }
 
  input, textarea{
    max-width: 50rem;
    color: black;
    padding: 1.5rem 2.4rem;
    border: 1px solid grey;
    text-transform: uppercase;
   box-shadow: 0 0 1px 1px rgb(98 84 243);
   border-radius: 2px;
   outline: none;
  }
  input[type="submit"]{
    max-width: 14rem;
    
    background-color: rgb(98 84 243);
    color: white;
   border-radius: 3px;
    border-width: .1rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    transition: all 0.2s;
    cursor: pointer;
    }
    input:hover[type="submit"]{
      background-color: white;
      color: rgb(98 84 243);
      border-radius: 1px solid rgb(98 84 243);
      transform:  scale(0.9);
    }
   
    @media (max-width:998px) {
      .container{
        padding: 0 3.2rem;
      }
      .grid-three-column{
        grid-template-columns:1fr 1fr;
      }
     .map{
         height: 300px;
     }
    }
    @media (max-width:768px) {
      html{
        font-size: 50%;
      }
      .grid{
        gap: 3.2rem;
      }
      .grid-two-column, .grid-three-column, .grid-four-column{
        grid-template-columns: 1fr;
      }
    }